<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" />
    </ion-buttons>
    <ion-title>Topicos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-list>
      <ion-item *ngFor="let topico of topicos">
        <ion-label>
          {{topico.nombre_topico}}
          <span style="font-weight: bolder;">Fecha</span>: {{topico.fecha_topico}}
        </ion-label>
        <ion-icon class="clicable" slot="end" name="create"
          [routerLink]="'/topic-edit/' + topico.id_topico"/>
        <ion-icon class="clicable" (click)="confirmarBorrado(topico.id_topico)"
          slot="end" name="trash"/>
      </ion-item>
      <ion-item class="itemAgregar">
        <ion-label class="btnAgregar" routerLink="/topic-edit">
          Agregar <ion-icon name="add" />
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
