.detalleTema{
    margin-left:2.5%;
    margin-top: 0.5%;
    font-size: small;
}

.clicable:hover{
    background-color:gray;
    padding: 0.2%;
    border-radius: 5px;
    cursor:pointer;
    margin-top: 0%;
    margin-bottom: 0%;
}

.btnAgregarUsuario{
    text-align: center;
    font-weight: bold;
    font-size: larger;
}

.btnAgregarUsuario:hover{
    text-align: center;
    font-weight: bold;
    font-size: larger;
    background-color:#535353;
    padding: 1%;
    margin: 0%;
    border-radius: 5px;
    cursor:pointer;
}