<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" />
    </ion-buttons>
    <ion-title> Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="usuarios">
  <ion-card>
    <ion-list>
      <ion-item *ngFor="let usuario of usuarios">
        <ion-label [routerLink]="'/user-edit/' + usuario.id"
          >{{usuario.name}} {{usuario.last_name}}</ion-label>
        <ion-icon class="clicable" slot="end" name="create" title="Editar"
          [routerLink]="'/user-edit/' + usuario.id"
        />
        <ion-icon class="clicable"
          (click)="confirmarBorrado(usuario.id)" title="Eliminar"
          slot="end"
          name="trash"
        />
      </ion-item>
      <ion-item>
        <ion-label class="btnAgregar" routerLink="/user-edit">
          Agregar <ion-icon name="add" />
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
